/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

#timer-display {
    margin-bottom: 20px;
}

#time {
    font-size: 36px;
    margin: 20px 0;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#player-container {
    margin-top: 20px;
}

#youtube-player {
    border-radius: 8px;
}

#exit-confirmation {
    margin-top: 20px;
    display: none;
}

.hidden {
    display: none;
}

#exit-confirmation button {
    background-color: red;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#exit-confirmation button:hover {
    background-color: darkred;
}

/* 링크 스타일 */
.links {
    margin-top: 30px;
}

.links a, .links button {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

.links a:hover, .links button:hover {
    background-color: #0056b3;
}

/* 하단 메뉴 스타일 */
.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-menu button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.bottom-menu button:hover {
    background-color: #555;
}
